.navbar{
    height: 5rem !important;
}


.headh3 {
    padding-top: 0.9rem;
    margin: 0.2rem 0.2px;
    display: grid;
    place-items: center;
}

.headh3>p {
    text-shadow: 2px 2px #ffffff;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 200%;
}

.container{
    margin-top: 3rem !important;
}
.btn{
    margin-top: 0.3rem !important;

}
.zero{
    padding: 0px !important;
    margin: 0px !important;
}